<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/f0f17c60c3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./assets/css/vendor/normalize.css">
  <link rel="stylesheet" href="./assets/css/main.css">
  <title>Spotify</title>
</head>
<body>
  <header class="header">
    <div><a href="#"><img src="./assets/images/spotify-logo.png" class="spotify-logo" alt="logo-spotify"></a>
    </div>
    <nav class="navigation">
      <div id="menuToggle">
        <input type="checkbox"/>
        <span></span>
        <span></span>
        <span></span>
        <ul class="menu">
          <li><a href="#" class="txt-menu-lg txt-light">Premium</a></li>
          <li><a href="#" class="txt-menu-lg txt-light">Ayuda</a></li>
          <li><a href="#" class="txt-menu-lg txt-light">Descargar</a></li>
          <li><a href="#" class="txt-menu-md txt-light">Registrarse</a></li>
          <li><a href="#" class="txt-menu-md txt-light">Iniciar sesión</a></li>
          <li><img src="./assets/images/spotify-logo.png" class="spotify-logo" alt="spotify-logo"></li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <div class="hero">
      <h1 class="txt-xl txt-light">Prueba Premium gratis 3 meses</h1>
      <p class="txt-sm txt-light bold">Escucha millones de canciones sin anuncios, a la carta y sin conexión.</p>
      <button class="btn btn-txt">Ver planes</button>
      <p class="txt-xs txt-light">Rigen términos y condiciones. Los tres meses gratis no están disponibles para usuarios que ya hayan probado Premium.</p>
    </div>
    <div class="content">
      <h2 class="txt-lg">¿Por qué pasarte a Premium?</h2>
      <div class="content__box">
        <article>
          <img src="./assets/images/div1.png" alt="Descarga música">
          <div class="article__content">
            <h3 class="txt-md">Descarga música.</h3>
            <p class="txt-sm">Llévala siempre contigo.</p>
          </div>
        </article>
        <article>
          <img src="./assets/images/div2.png" alt="Sin anuncios">
          <div class="article__content">
            <h3 class="txt-md">Sin anuncios.</h3>
            <p class="txt-sm">Disfruta de música sin interrupciones.</p>
          </div>
        </article>
        <article>
          <img src="./assets/images/div3.png" alt="Escucha lo que quieras">
          <div class="article__content">
            <h3 class="txt-md">Escucha lo que quieras</h3>
            <p class="txt-sm">Incluso en el móvil.</p>
          </div>
        </article>
        <article>
          <img src="./assets/images/div4.png" alt="Salta lo que quieras">
          <div class="article__content">
            <h3 class="txt-md">Salta todas las canciones que quieras.</h3>
            <p class="txt-sm">Simplemente dale a siguiente.</p>
          </div>
        </article>
      </div>
    </div>
  </main>
  <footer class="footer">
    <nav>
      <ul class="menu-footer">
        <li><a href="">Legal</a></li>
        <li><a href="">Cookies</a></li>
        <li><a href="">Información sobre los anuncios</a></li>
      </ul>
    </nav>
    <a href="#" class="language" target="_blank" rel="noopener noreferrer">España<img src="./assets/images/spain.png" alt="spanish-flag"></a>
    <span class="copy">© 2019 Spotify AB</span>
  </footer>
</body>
</html>