<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/f0f17c60c3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./assets/css/vendor/normalize.css">
  <link rel="stylesheet" href="./assets/css/main.css">
  <title>Spotify</title>
</head>
<body>
  <header class="header">
    <div class="spotify-logo"><a href="#"><img src="./assets/images/spotify-logo.png" alt="logo-spotify"></a>
    </div>
    <nav class="navigation">
      <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
          <li><a href="#">Premium</a></li>
          <li><a href="#">Ayuda</a></li>
          <li><a href="#">Descargar</a></li>
          <span>|</span>
          <li><a href="#">Registrarse</a></li>
          <li><a href="#">Iniciar sesión</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <div class="hero">
      <h1>Prueba Premium gratis 3 meses</h1>
      <h2>Escucha millones de canciones sin anuncios, a la carta y sin conexión.</h2>
      <button class="btn">Ver planes</button>
      <p>Rigen términos y condiciones. Los tres meses gratis no están disponibles para usuarios que ya hayan probado Premium.</p>
    </div>
    <div class="content">
      <h1>¿Por qué pasarte a Premium?</h1>
      <div class="content__box">
        <article>
          <img src="./assets/images/div1.png" alt="Descarga música">
          <div class="article__content">
            <h4>Descarga música.</h4>
            <p>Llévala siempre contigo.</p>
          </div>
        </article>
        <article>
          <img src="./assets/images/div2.png" alt="Sin anuncios">
          <div class="article__content">
            <h4>Sin anuncios.</h4>
            <p>Disfruta de música sin interrupciones.</p>
          </div>
        </article>
        <article>
          <img src="./assets/images/div3.png" alt="Escucha lo que quieras">
          <div class="article__content">
            <h4>Escucha lo que quieras</h4>
            <p>Incluso en el móvil.</p>
          </div>
        </article>
        <article>
          <img src="./assets/images/div4.png" alt="Salta lo que quieras">
          <div class="article__content">
            <h4>Salta todas las canciones que quieras.</h4>
            <p>Simplemente dale a siguiente.</p>
          </div>
        </article>
      </div>
    </div>
  </main>
  <footer class="footer">
    <nav>
      <ul class="menu-footer">
        <li class="legal"><a href="">Legal</a></li>
        <li class="cookies"><a href="">Cookies</a></li>
        <li class="info"><a href="">Información sobre los anuncios</a></li>
      </ul>
    </nav>
    <a href="#" class="language" target="_blank" rel="noopener noreferrer">España</a>
    <span class="copy">© 2019 Spotify AB</span>
  </footer>
</body>
</html>