$color-primary: rgb(80, 155, 245);
$color-secondary: #0000;
$btn-background-color: rgb(29, 185, 84);

$font-family: Helvetica, Arial, sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;
$font-color-light: #ffffff;
$font-color-dark: $color-secondary;
$font-color-footer: rgb(145, 148, 150);

